body{
    background-color: rgb(206, 222, 222);
}

#container{
    width: 100%;
    height: 800px;
    background-color: rgb(180, 180, 220);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 110px;
}

.grid-elements{
    border: 1px solid black;
}

.menu-area{
    width: 100%;
    height: 100px;
    background-color: rgb(120, 120, 130);
    position: fixed;
    z-index: +2;
}

.active{
    height: 100%;
}

.clicked{
    background-color: blue;
}

#text-1{
    position: relative;
    transform: translate(0, 0%);
    top: 0%;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes slide {
    from {top: 0%;
        color: rgb(180, 180, 220);
        
    }
    to {top: 50%;
    color:black;}
}
